<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}MoiPrez.com{% endblock %}</title>
        <meta name="description" content="Software Engineer. Experienced professional interested in ubiquitous computing, data analysis, algorithms and software engineering." />
        <meta name="keywords" content="ubicomp,data,analysis,algorithms,web,software,engineering,tijuana,san diego,ensenada,california,python,java,django,pandas,android,gis" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="{{base_url}}static/css/normalize.css">

        {% block css %}
        <link rel="stylesheet" href="{{base_url}}static/css/main.css">
        {% endblock %}

        {% block js_top %}{% endblock %}
        <script src="{{base_url}}static/js/vendor/modernizr-2.6.2.min.js"></script>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% block header %}

            {% include "templates/header.html.twig" %}

        {% endblock %}

        {% block menu %}

            {% include "templates/menu.html.twig" %}
            
        {% endblock %}

        {% block content %}        
        <!-- Add your site or application content here -->
        <p>Hello world! This is HTML5 Boilerplate. {{name}}</p>
        {% endblock %}

        {% block footer %}

            {% include "templates/footer.html.twig" %}

        {% endblock %}

        {% include "templates/js/jquery.html" %}
        {% block js_bottom %}
        {% endblock %}
        {% include "templates/js/analytics.html" %}

    </body>
</html>
