      <div class="contain-to-grid">
            <nav class="top-bar">
                <section class="top-bar-section">
                <ul>
                    <!-- <li class="active"><a href="">Home</a></li> -->
                    <!-- <li><a href="blog.html">Blog</a></li> -->
                </ul>
                </section>
                <section class="top-bar-section right">
                <ul>
                    <li><a href="mailto:mxpxgx@gmail.com">Contact</a></li>
                    <li class="divider"></li>
                    <li><a href="https://twitter.com/mxpxgx" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://github.com/mxpxgx" title="GitHub"><i class="fa fa-github"></i></a></li>
                    <li><a href="http://stackoverflow.com/users/396492/" title="StackOverflow"><i class="fa fa-stack-overflow"></i></a></li>
                    <li><a href="http://www.linkedin.com/in/moisesp/" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                </section>
            </nav>
        </div>